<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="wrapper">
		<header>
			<nav>
				<div class="header-nav-mobile-version">
					<div class="header-nav-mobile-version-visible">
						<span class="header-nav-mobile-version-active"><a href="#">Answers</a></span>
						<span class="header-nav-mobile-version-visible-button"></span>
					</div>
					<ul>
						<li><a href="stat.html">Statistics</a></li>
						<li><a href="index.html">Question</a></li>
					</ul>
				</div>
				<ul class="header-nav-desktop-version">
					<li class="header-nav-li-left"><a href="stat.html"><span class="bigf-letter">s</span>tatistic<span class="bigl-letter">s</span></a></li>
					<li class="header-nav-li-active"><a href="#"><span class="bigf-letter">a</span>nswer<span class="bigl-letter">s</span></a></li>
					<li class="header-nav-li-right"><a href="index.html"><span class="bigf-letter">q</span>uestio<span class="bigl-letter">n</span></a></li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="white-section-with white-section-with-answers scrollbar">
				<h2>Answers</h2>
				<div class="white-section-under-h2-info">
					<span>answers to all your questions</span>
				</div>
				<div class="section-with-all-answers">
					<div class="answer">
						<img src="img/man-icon.png">
						<div class="answer-info">
							<div class="answer-info-qt"><span>Q:&nbsp;Hello, what are you thinking about...</span><span class="time">14.04.18&nbsp;22:15</span></div>
							<div class="answer-info-txt"><span>A:&nbsp;Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud... <span class="read-more">Read more</span></span></div>
						</div>
					</div>
					<div class="answer">
						<img src="img/man-icon.png">
						<div class="answer-info">
							<div class="answer-info-qt"><span>Q:&nbsp;Real dude, what are you thinking about...</span><span class="time">14.04.18&nbsp;22:15</span></div>
							<div class="answer-info-txt"><span>A:&nbsp;Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></div>
						</div>
					</div>
					<div class="answer">
						<img src="img/man-icon.png">
						<div class="answer-info">
							<div class="answer-info-qt"><span>Q:&nbsp;Hello, what are you thinking about...</span><span class="time">14.04.18&nbsp;22:15</span></div>
							<div class="answer-info-txt"><span>A:&nbsp;Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud... <span class="read-more">Read more</span></span></div>
						</div>
					</div>
					<div class="answer">
						<img src="img/man-icon.png">
						<div class="answer-info">
							<div class="answer-info-qt"><span>Q:&nbsp;Hello, what are you thinking about...</span><span class="time">14.04.18&nbsp;22:15</span></div>
							<div class="answer-info-txt"><span>A:&nbsp;Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span></div>
						</div>
					</div>
					<div class="answer">
						<img src="img/man-icon.png">
						<div class="answer-info">
							<div class="answer-info-qt"><span>Q:&nbsp;Hello, what are you thinking about...</span><span class="time">14.04.18&nbsp;22:15</span></div>
							<div class="answer-info-txt"><span>A:&nbsp;Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud... <span class="read-more">Read more</span></span></div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<div class="pop-up">
			<section class="white-section-with scrollbar" id="pop-up-section">
				<h2>You have a new question</h2>
				<span class="pop-up-message-text">
					Lorem ipsum dolor sit amet, consectetur 
					adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. Ut enim ad 
					minim veniam, quis nostrud exercitation sed do
					 eiusmod tempor incididunt quis nostrud sed elit
					ut labore et dolore magna aliqua... <span>Read more</span>
				</span>
				<h3 id="pop-up-h3">Would you like to answer it?</h3>
				<div class="buttons" id="buttons-visible">
					<button class="green" id="pop-up-button-yes">Yes</button>
					<button class="red" id="pop-up-button-no">No</button>
				</div>
				<div class="pop-up-form" id="pop-up-form">
					<form action="" id="pop-up-form-form">
						<textarea name="" id="answer-textarea" cols="30" rows="10" class="scrollbar" placeholder="Input here..."></textarea>
						<div class="line-under-textarea"></div>
						<div class="buttons">
							<input type="submit" value="send" class="green">
							<button class="red" id="pop-up-button-cancel">Canscel</button>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>