<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="wrapper">
		<header>
			<nav>
				<div class="header-nav-mobile-version">
					<div class="header-nav-mobile-version-visible">
						<span class="header-nav-mobile-version-active"><a href="#">Statistics</a></span>
						<span class="header-nav-mobile-version-visible-button"></span>
					</div>
					<ul>
						<li><a href="index.html">Question</a></li>
						<li><a href="answers.html">Answers</a></li>
					</ul>
				</div>
				<ul class="header-nav-desktop-version">
					<li class="header-nav-li-left"><a href="index.html"><span class="bigf-letter">q</span>uestio<span class="bigl-letter">n</span></a></li>
					<li class="header-nav-li-active"><a href="#"><span class="bigf-letter">s</span>tatistic<span class="bigl-letter">s</span></a></li>
					<li class="header-nav-li-right"><a href="answers.html"><span class="bigf-letter">a</span>nswer<span class="bigl-letter">s</span></a></li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="white-section-with white-section-with-statistics scrollbar">
				<h2>Your statistics</h2>
				<div class="white-section-under-h2-info">
					<span>profile:&nbsp;</span>
					<span>flackery</span>
					<span class="span-icon-mini"></span>
				</div>
				<div class="section-with-statisctics">
					<div class="statistic-block">
						<img src="img/Question-Girl.png" alt="">
						<p>questions</p>
						<p class="count">24</p>
					</div>
					<div class="statistic-block">
						<img src="img/answ.png" alt="">
						<p>answers</p>
						<p class="count">50</p>
					</div>
					<div class="statistic-block">
						<img src="img/star.png" alt="">
						<p>rating</p>
						<p class="count">4.5</p>
					</div>
					<div class="statistic-block">
						<span>+</span>
						<img src="img/heart.png" alt="">
						<p>earned</p>
						<p class="count">250</p>
					</div>
					<div class="statistic-block">
						<span>-</span>
						<img src="img/heart.png" alt="">
						<p>spent</p>
						<p class="count">100</p>
					</div>
				</div>
			</section>
		</main>
		<div class="pop-up">
			<section class="white-section-with scrollbar" id="pop-up-section">
				<h2>You have a new question</h2>
				<span class="pop-up-message-text">
					Lorem ipsum dolor sit amet, consectetur 
					adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. Ut enim ad 
					minim veniam, quis nostrud exercitation sed do
					 eiusmod tempor incididunt quis nostrud sed elit
					ut labore et dolore magna aliqua... <span>Read more</span>
				</span>
				<h3 id="pop-up-h3">Would you like to answer it?</h3>
				<div class="buttons" id="buttons-visible">
					<button class="green" id="pop-up-button-yes">Yes</button>
					<button class="red" id="pop-up-button-no">No</button>
				</div>
				<div class="pop-up-form" id="pop-up-form">
					<form action="" id="pop-up-form-form">
						<textarea name="" id="answer-textarea" cols="30" rows="10" class="scrollbar" placeholder="Input here..."></textarea>
						<div class="line-under-textarea"></div>
						<div class="buttons">
							<input type="submit" value="send" class="green">
							<button class="red" id="pop-up-button-cancel">Canscel</button>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>